body {
	background-color: #f5f5f5;
}

.masthead.segment .image {
	top: 180px;
	left: auto;
	right: auto;
	bottom: 0px;
}

.ui.page.grid.overview.segment,
.ui.menu:not(.vertical) .item > .input,
.ui.icon.input > .icon {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ui.icon.input > .icon {
	padding-top: 7px;
}

#banner {
	height:360px;
}

#menu, div.right.menu, div.item{
    background-color: #630460; 
	height: 50px;
}

#menu>.ui.menu.inverted{
    background-color: #630460;
}

#board p{
	margin-top: 0px;
	margin-bottom: 28px;
}

.column {
	padding: 0px 4px;
}

.ui.celled.grid, 
.ui.celled.grid > .row, 
.ui.celled.grid > .column.row, 
.ui.celled.grid > .column.row:first-child,
.ui.celled.grid > .column:not(.row),
.ui.celled.grid > .row > .column {
	box-shadow: none;
}

.footer_item {
    margin: 0px;
}

#footer {
    background-color: #630460;
}

.banner-shadow {
/*    background-color: #222; */
    background: url("images/banner%20shadow.PNG") repeat-x;
    height: 25px;
    width: 100%;
    position: absolute;
    /*top: 282px;*/
    top: 335px;
    z-index: ;
    margin: 0px 0px 0px 0px;
    /*padding: 0% 18%;*/
    /*left: -120px;*/
    
}

.underline{
	background-color: #d9d9d9;
	background-repeat: repeat-x;
	height: 2px;
}

.row h2 {
	/*padding-bottom: 0px;*/
	margin-bottom: 5px;
}