.header h4, .header h3{
    display:inline-block;
}

#breadcrumb {
    padding-left: 0;
}

.breadcrumb {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0px;
}

#breadcrumb a{
    font-size: 20px;
    color: #630460;
}

.active.li > a, .active.li > a:hover{
    color: #fff;
    background:url(images/nav_highlight.png) repeat-x;
}